.App {
  text-align: center;
  display: flex;
}

.Sidebar {
  height: 70vh;
  width: 380px;
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 5px; /* change these values to mess with size of the side bar*/
  gap: 15px;
  overflow-y: auto; /* Enable scrolling */
  scrollbar-width: thin; 
  scrollbar-color:  #000000 #f0f0f0;
  /* move scroll bar to the left */
  direction: rtl;
}
/* move scroll bar to the left and reset content inside sidebar*/
.Sidebar * {
  direction: ltr; 
}

/* edit side bar */
.SidebarContainer {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Space between create note button and sidebar */
  margin-left: 1px;
  padding: 5px;
}

.CreateNote {
  padding: 10px 20px;
  width: 90%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(121, 217, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.CreateNote:hover {
  background-color: rgba(31, 180, 244, 0.938);
}

/* Edit note card */
.NewNote {
  background-color: #ffffff;
  border-radius: 5px;
  width: 90%;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Change color upon hovering on notes */
.NewNote:hover {
  background-color: #e6e6e6;
}

/* Edit note title */
.NoteTitle {
  width: 90%;
  height: 15px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 0px;
  /* cursor: pointer; */
}

/* Edit note title */
.NoteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Edit note title */
.EditIcon {
  cursor: pointer;
  font-size: 14px;
  margin-left: 0px;
  margin-bottom: 20px;
}

/* Edit note title */
.EditIcon:hover {
  color: rgb(121, 217, 255); /* Change color on hover */
}

.NoteContent {
  width: 96%;
  min-height: 100px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.DeleteNoteButton{
  padding: 8px 15px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.DeleteNoteButton.disabled {
  background-color: rgb(59, 59, 59);
  cursor: not-allowed;
}

.DeleteNoteButton:hover:not(.disabled){
  background-color: rgba(192, 10, 10, 0.938);
}

/* display tootip when hovering over Delete button */
.DeleteButtonContainer {
  width: 50%;
  position: relative; 
  display: 100%; 
  
}

/* display tootip when hovering over Delete button */
.Tooltip {
  font-size: 10px;
  visibility: hidden; 
  width: 140px; 
  background-color: #4d4c4c; 
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  bottom: 110%; 
  left: 50%;
  transform: translateX(-50%); 
  opacity: 0;
  transition-delay: .4s;
}

/* display tootip when hovering over Delete button */
.DeleteButtonContainer:hover .Tooltip {
  visibility: visible;
  opacity: .9;
}

.FontsButton{
  padding: 8px 15px;
  width: 50%;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(121, 217, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.FontSizeButton{
  padding: 8px 15px;
  width: 50%;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(121, 217, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.DownloadButton{
  padding: 8px 15px;
  width: 50%;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(121, 217, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.HoverEffect:hover{
  background-color: rgba(31, 180, 244, 0.938);
}


.TopButtonsContainer{
  width: 380px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px; /* Space between button and sidebar */
}

.BottomButtonsContainer{
  width: 380px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px; /* Space between button and sidebar */
}


/* Create button modal box */
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(75, 75, 75, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  background: #e6e6e6;
  padding: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1);
  width: 400px;
  /* text-align: center; */
}

.modal input{
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: 1px gray;
  border-radius: 5px;
}

.modal-buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button{
  padding: 10px 15px;
  width: 90px;
  border: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.modal-buttons button:first-child{
  background-color: rgb(2, 180, 61);
  color: white;
}
.modal-buttons button:first-child:hover{
  background-color: #228d0ff3;
}

.modal-buttons button:nth-child(2){
  background-color: #af1424;
  color: white;
}

.modal-buttons button:nth-child(2):hover{
  background-color: #890714;
}

.modal-buttons button:nth-child(3){
  background-color: rgb(2, 180, 61);
  color: white;
}

.modal-buttons button:nth-child(3):hover{
  background-color: #228d0ff3;
}

.modal-buttons button:last-child{
  background-color: rgb(2, 180, 61);
  color: white;
}

.modal-buttons button:last-child:hover{
  background-color: #228d0ff3;
}

/* Selected Note Style */
.NewNote.active {
  background-color: rgba(75, 75, 75, 0.6); 
  border: 2px;
}

.NoteSection{
  background-color: #000000;
  color: black;
  width: 100%;
  display: flex;
}

.NewContainer{
  width: 100%;
}